@using Electremia.ViewModels
@model SelectedContentViewModel
@{ ViewData["Title"] = "Timeline Page"; }

<link href="~/css/Content.css" rel="stylesheet"/>

<div class="page-header">
    <h1>Content page <small>Selected content: </small></h1>
</div>
@{
    if (ViewData["Message"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @ViewData["Message"]
        </div>
    }
}
<div class="row">
    <div class="col-lg-11">
        <h4>@Model.Title</h4>
    </div>
    <div class="col-lg-1">
        @{
            if (Model.Price != 0)
            {
                <label>@Model.Price</label>
            }
            if (Model.UserId == Cookies.GetId(User))
            {
                <form method="post" asp-action="DeleteContent">
                    <input name="id" value="@Model.Id" hidden/>
                    <input name="type" value="@Model.Type" hidden/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            }
        }
    </div>
    <div class="descContent col-lg-12">
        <div class="jumbotron">
            <label>@Model.Description</label>
        </div>
        @{
            foreach (var picture in Model.Pictures)
            {
                <div class="col-xs-6 col-md-3">
                    <a href="../../images/@picture.Url" class="thumbnail">
                        <img src="~/images/@picture.Url" alt="...">
                    </a>
                </div>
            }
        }
    </div>
    <form method="post" asp-action="Comment">
        <div class="col-lg-11">
            <div class="form-group">
                <textarea class="form-control" rows="1" placeholder="Write comment" name="comment"></textarea>
                <input type="number" name="id" value="@Model.Id" hidden/>
                <input type="number" name="type" value="@Model.Type" hidden/>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
    <div class="col-lg-12 text-center">
        <form method="post" asp-action="Like">
            <input name="id" value="@Model.Id" hidden/>
            <input name="type" value="@Model.Type" hidden/>
            @{
                if (Model.Likes.IndexOf(Cookies.GetId(User)) != -1)
                {
                    <input name="isLiked" value="1" hidden/>
                    <button type="submit" class="btn btn-info">
                        <b>Liked</b> @Model.Likes.Count
                    </button>
                }
                else
                {
                    <button type="submit" style="width: 50%;" class="btn btn-primary">Like @Model.Likes.Count</button>
                }
            }
        </form>
    </div>
    <div class="col-lg-12" style="margin-top: 20px;">
        <h4>Comments: </h4>
        @{
            foreach (var comment in Model.Comments)
            {
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/images/Blank-profile.png" style="width: 60px;">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>@comment.Username</strong> <span class="text-muted"> @comment.CommentId</span>
                        </div>
                        <div class="panel-body">
                            @comment.Text
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            }
        }
    </div>
</div>
