@using Electremia.ViewModels
@model EditAccountViewModel
@{ ViewData["Title"] = "Edit Page"; }

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="page-header">
    <h1>Edit account <small>Make changes for your account </small></h1>
</div>
@{
    if (ViewData["Message"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewData["Message"]
        </div>
    }
}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <a class="btn btn-info center-block" asp-area="" asp-action="Experiences">Experiences</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6">
            <div class="page-header">
                <h4>Account <small>Credentials </small></h4>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.UserId"></label>
                <input asp-for="@Model.User.UserId" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Username"></label>
                <input asp-for="@Model.User.Username" class="form-control" data-val="true" data-val-required="The Username field is required."/>
                <span class="text-danger field-validation-valid"
                      asp-validation-for="@Model.User.Username" data-valmsg-replace="true">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password"></label>
                <input asp-for="@Model.User.Password" type="password" placeholder="Leave empty if you dont want to change it." class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Firstname"></label>
                <input asp-for="@Model.User.Firstname" class="form-control" data-val="true" data-val-required="The Firstname field is required."/>
                <span class="text-danger field-validation-valid"
                      asp-validation-for="@Model.User.Firstname" data-valmsg-replace="true">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Lastname"></label>
                <input asp-for="@Model.User.Lastname" class="form-control" data-val="true" data-val-required="The Lastname field is required."/>
                <span class="text-danger field-validation-valid"
                      asp-validation-for="@Model.User.Lastname" data-valmsg-replace="true">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Certificate"></label>
                <input asp-for="@Model.User.Certificate" class="form-control" data-val="true" data-val-required="The Certificate field is required."/>
                <span class="text-danger field-validation-valid"
                      asp-validation-for="@Model.User.Certificate" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="page-header">
                <h4>Pictures <small>Profile view </small></h4>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.ProfilePicture"></label>
                <input asp-for="@Model.ProfileFormFile" class="form-control" accept="image/*"/>
                <img src="~/images/@Model.User.ProfilePicture" style="width: 50%; height: 50%;"/>
                <p class="help-block">Upload new profile picture or leave empty if you dont want to change it.</p>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.CoverPicture"></label>
                <input asp-for="@Model.CoverFormFile" class="form-control"/>
                <img src="~/images/@Model.User.CoverPicture" style="width: 50%; height: 50%;"/>
                <p class="help-block">Upload new cover picture or leave empty if you dont want to change it.</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
</div>